In [48]:
import pandas as pd

In [49]:
depression = "prevalence-of-depression-males-vs-females.csv"
depression_male = "Prevalence - Depressive disorders - Sex: Male - Age: Age-standardized (Percent)"
depression_female = "Prevalence - Depressive disorders - Sex: Female - Age: Age-standardized (Percent)"

data = pd.read_csv(f"data\{depression}")
data = data.rename(columns={depression_male:"Depression male", depression_female:"Depression female"})
data.head()

,Entity,Code,Year,"Total population (Gapminder, HYDE & UN)",Continent,Depression male,Depression female
0,Abkhazia,OWID_ABK,2015,NaN,Asia,NaN,NaN
1,Afghanistan,AFG,1800,3280000.0,NaN,NaN,NaN
2,Afghanistan,AFG,1801,3280000.0,NaN,NaN,NaN
3,Afghanistan,AFG,1802,3280000.0,NaN,NaN,NaN
4,Afghanistan,AFG,1803,3280000.0,NaN,NaN,NaN

In [50]:
data.isnull().sum()

Entity                                         0
Code                                        1726
Year                                           0
Total population (Gapminder, HYDE & UN)      975
Continent                                  47573
Depression male                            41390
Depression female                          41390
dtype: int64

In [51]:
data["Year"].describe()

count    47858.000000
mean      1902.491329
std        316.631498
min     -10000.000000
25%       1859.000000
50%       1919.000000
75%       1974.000000
max       2019.000000
Name: Year, dtype: float64

In [52]:
data = data.drop(data[data["Year"] < 2000].index)
data.head()

,Entity,Code,Year,"Total population (Gapminder, HYDE & UN)",Continent,Depression male,Depression female
0,Abkhazia,OWID_ABK,2015,NaN,Asia,NaN,NaN
201,Afghanistan,AFG,2000,20780000.0,NaN,3.541144,4.683006
202,Afghanistan,AFG,2001,21607000.0,NaN,3.544092,4.684995
203,Afghanistan,AFG,2002,22601000.0,NaN,3.547732,4.686792
204,Afghanistan,AFG,2003,23681000.0,NaN,3.550443,4.683816

In [53]:
data = data.dropna(subset=["Depression male","Depression female"])

In [54]:
data.isnull().sum()

Entity                                        0
Code                                        630
Year                                          0
Total population (Gapminder, HYDE & UN)     594
Continent                                  3963
Depression male                               0
Depression female                             0
dtype: int64

In [56]:
data.to_csv("data/prevalence-of-depression-males-vs-females-2.0.csv")