# Anorexia & Bulimia Preprocessor

## Imports

In [1]:
import pandas as pd

## Load Data

In [2]:
file_name = "number-with-anorexia-and-bulimia-nervosa"
df = pd.read_csv(f"../data/{file_name}.csv")
df.head()

,Entity,Code,Year,Prevalence - Anorexia nervosa - Sex: Both - Age: All Ages (Number),Prevalence - Bulimia nervosa - Sex: Both - Age: All Ages (Number)
0,Afghanistan,AFG,1990,1869.815372,6671.754883
1,Afghanistan,AFG,1991,1940.434799,6880.802091
2,Afghanistan,AFG,1992,2379.431771,8447.597072
3,Afghanistan,AFG,1993,2815.379527,10093.391198
4,Afghanistan,AFG,1994,2868.647733,10426.222061

## Analysis

In [3]:
df.isnull().sum()

Entity                                                                  0
Code                                                                  980
Year                                                                    0
Prevalence - Anorexia nervosa - Sex: Both - Age: All Ages (Number)      0
Prevalence - Bulimia nervosa - Sex: Both - Age: All Ages (Number)       0
dtype: int64

In [4]:
df["Year"].describe()

count    6468.000000
mean     2003.500000
std         8.078372
min      1990.000000
25%      1996.750000
50%      2003.500000
75%      2010.250000
max      2017.000000
Name: Year, dtype: float64

## Date Cleaning

In [5]:
df = df.rename(columns={'Prevalence - Anorexia nervosa - Sex: Both - Age: All Ages (Number)':"Anorexia", 'Prevalence - Bulimia nervosa - Sex: Both - Age: All Ages (Number)':"Bulimia"})
df.head()

        Entity Code  Year     Anorexia       Bulimia
0  Afghanistan  AFG  1990  1869.815372   6671.754883
1  Afghanistan  AFG  1991  1940.434799   6880.802091
2  Afghanistan  AFG  1992  2379.431771   8447.597072
3  Afghanistan  AFG  1993  2815.379527  10093.391198
4  Afghanistan  AFG  1994  2868.647733  10426.222061

In [6]:
df = df.drop(columns=['Code'])
df.head()

        Entity  Year     Anorexia       Bulimia
0  Afghanistan  1990  1869.815372   6671.754883
1  Afghanistan  1991  1940.434799   6880.802091
2  Afghanistan  1992  2379.431771   8447.597072
3  Afghanistan  1993  2815.379527  10093.391198
4  Afghanistan  1994  2868.647733  10426.222061

In [11]:
df_1990 = df.drop(df[df["Year"] != 1990].index)
df_1990.head()

                   Entity  Year      Anorexia        Bulimia
10            Afghanistan  2000   2772.084470   11102.443520
38                Albania  2000    870.105495    3330.107432
66                Algeria  2000  11204.171948   50069.154149
94         American Samoa  2000     26.557042      78.439687
122  Andean Latin America  2000  17012.590018  126199.844641

In [ ]:
df_2017 = df.drop(df[df["Year"] != 2017].index)
df_2017.head()

## Save Data

In [8]:
# data.to_csv(f"../data/{file_name}-processed.csv")