# Assignment 3: Tableau Integrating AI

## Imports and Envirioment

In [247]:
# data structure
import numpy as np
import pandas as pd

# machine leraning tools
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler

# tableau tools
from tabpy.tabpy_tools.client import Client

In [ ]:
# for model saving and loading
from joblib import dump, load

## Load Data

In [248]:
data_path = "../data/survey_strict_only_numbers.csv"
df = pd.read_csv(data_path)
df.head()

,Unnamed: 0,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,0,2014-08-27 11:29:31,37,1,United States,IL,0.0,-1,1,3.0,...,1.000000,-1,-1,0,1,-1,0,1,-1,NaN
1,1,2014-08-27 11:29:37,44,-1,United States,IN,0.0,-1,-1,1.0,...,1.166667,0,-1,-1,-1,-1,-1,0,-1,NaN
2,2,2014-08-27 11:29:44,32,-1,Canada,NaN,0.0,-1,-1,1.0,...,2.000000,-1,-1,1,1,1,1,-1,-1,NaN
3,3,2014-08-27 11:29:46,31,-1,United Kingdom,NaN,0.0,1,1,3.0,...,2.000000,1,1,0,-1,0,0,-1,1,NaN
4,4,2014-08-27 11:30:22,31,-1,United States,TX,0.0,-1,-1,0.0,...,1.166667,-1,-1,0,1,1,1,0,-1,NaN

## Data Analysis

In [249]:
df.shape

(1259, 28)

In [250]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 1259 non-null   int64
 1   Timestamp                  1259 non-null   object
 2   Age                        1259 non-null   int64
 3   Gender                     1259 non-null   int64
 4   Country                    1259 non-null   object
 5   state                      744 non-null    object
 6   self_employed              1259 non-null   float64
 7   family_history             1259 non-null   int64
 8   treatment                  1259 non-null   int64
 9   work_interfere             1259 non-null   float64
 10  no_employees               1259 non-null   int64
 11  remote_work                1259 non-null   object
 12  tech_company               1259 non-null   object
 13  benefits                   1259 non-null   object
 14  care_options               1259 non-null   object
 15  wellness_program           1259 non-null   object
 16  seek_help                  1259 non-null   object
 17  anonymity                  1259 non-null   object
 18  leave                      1259 non-null   float64
 19  mental_health_consequence  1259 non-null   int64
 20  phys_health_consequence    1259 non-null   int64
 21  coworkers                  1259 non-null   int64
 22  supervisor                 1259 non-null   int64
 23  mental_health_interview    1259 non-null   int64
 24  phys_health_interview      1259 non-null   int64
 25  mental_vs_physical         1259 non-null   int64
 26  obs_consequence            1259 non-null   int64
 27  comments                   164 non-null    object
dtypes: float64(3), int64(14), object(11)
memory usage: 275.5+ KB

In [251]:
df.describe()

,Unnamed: 0,Age,Gender,self_employed,family_history,treatment,work_interfere,no_employees,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
count,1259.000000,1.259000e+03,1259.000000,1259.000000,1259.000000,1259.000000,1259.000000,1259.000000,1259.000000,1259.000000,1259.000000,1259.00000,1259.000000,1259.000000,1259.000000,1259.000000,1259.000000
mean,629.000000,7.942815e+07,-0.593328,-0.753773,-0.218427,0.011914,1.542711,2.419380,1.166667,-0.157268,-0.686259,-0.02780,0.097697,-0.765687,-0.236696,0.002383,-0.707705
std,363.586303,2.818299e+09,0.797345,0.646422,0.976241,1.000326,0.873990,1.708151,0.748431,0.772573,0.558980,0.62029,0.844407,0.499505,0.708491,0.736831,0.706789
min,0.000000,-1.726000e+03,-1.000000,-1.000000,-1.000000,-1.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,-1.00000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
25%,314.500000,2.700000e+01,-1.000000,-1.000000,-1.000000,-1.000000,1.000000,1.000000,1.000000,-1.000000,-1.000000,0.00000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
50%,629.000000,3.100000e+01,-1.000000,-1.000000,-1.000000,1.000000,1.542700,2.000000,1.166667,0.000000,-1.000000,0.00000,0.000000,-1.000000,0.000000,0.000000,-1.000000
75%,943.500000,3.600000e+01,-1.000000,-1.000000,1.000000,1.000000,2.000000,4.000000,1.166667,0.000000,0.000000,0.00000,1.000000,-1.000000,0.000000,1.000000,-1.000000
max,1258.000000,1.000000e+11,1.000000,1.000000,1.000000,1.000000,3.000000,5.000000,3.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000

In [252]:
list(df)

['Unnamed: 0',
 'Timestamp',
 'Age',
 'Gender',
 'Country',
 'state',
 'self_employed',
 'family_history',
 'treatment',
 'work_interfere',
 'no_employees',
 'remote_work',
 'tech_company',
 'benefits',
 'care_options',
 'wellness_program',
 'seek_help',
 'anonymity',
 'leave',
 'mental_health_consequence',
 'phys_health_consequence',
 'coworkers',
 'supervisor',
 'mental_health_interview',
 'phys_health_interview',
 'mental_vs_physical',
 'obs_consequence',
 'comments']

## Data Cleaning

In [253]:
df = df.drop(['Unnamed: 0', 'Timestamp', 'Country', 'state', 'work_interfere', 'no_employees', 'phys_health_interview', 'mental_health_interview', 'seek_help', 'anonymity', 'leave', 'mental_health_consequence', 'phys_health_consequence', 'mental_vs_physical','obs_consequence', 'comments', 'coworkers', 'supervisor'], axis=1)
list(df)

['Age',
 'Gender',
 'self_employed',
 'family_history',
 'treatment',
 'remote_work',
 'tech_company',
 'benefits',
 'care_options',
 'wellness_program']

## Data Transformation

In [254]:
df = df.replace([0, "Don't know", "Not sure"], 2)
df = df.replace([-1, "No"], 0)
df = df.replace(["Yes"], 1)

df["self_employed"] = df["self_employed"].astype('int32')
df.head()

,Age,Gender,self_employed,family_history,treatment,remote_work,tech_company,benefits,care_options,wellness_program
0,37,1,2,0,1,0,1,1,2,0
1,44,0,2,0,0,0,0,2,0,2
2,32,0,2,0,0,0,1,0,0,0
3,31,0,2,1,1,0,1,0,1,0
4,31,0,2,0,0,1,1,1,0,2

## Data Splitting

In [255]:
X = df.drop(['treatment'], axis=1)
y = df['treatment']

In [256]:
X.head()

,Age,Gender,self_employed,family_history,remote_work,tech_company,benefits,care_options,wellness_program
0,37,1,2,0,0,1,1,2,0
1,44,0,2,0,0,0,2,0,2
2,32,0,2,0,0,1,0,0,0
3,31,0,2,1,0,1,0,1,0
4,31,0,2,0,1,1,1,0,2

In [257]:
y.head()

0    1
1    0
2    0
3    1
4    0
Name: treatment, dtype: int64

In [258]:
# scaler = StandardScaler().fit(X)
# X = scaler.transform(X)
# X[:10]

In [259]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.10, random_state=10)

## Model Fitting

In [260]:
model = LinearRegression().fit(X_train, y_train)

## Model Eveluation

In [261]:
model.score(X_test, y_test)

0.20897725047423643

## Save Model

In [ ]:
dump(model, 'stress-predictor.joblib')

## Tableau Integration

In [262]:
# client = Client('http://localhost:9004/')

In [263]:
def SuggestHelp(Age, Gender, self_employed, family_history, remote_work, tech_company, benefits, care_options, wellness_program):

    Gender = 0 if Gender == 'male' else 1
    self_employed = 0 if self_employed == 'no' else 1
    family_history = 0 if family_history == 'no' else 1
    remote_work = 0 if remote_work == 'no' else 1
    tech_company = 0 if tech_company == 'no' else 1
    benefits = 0 if benefits == 'no' else 1
    care_options = 0 if care_options == 'no' else 1
    wellness_program = 0 if wellness_program == 'no' else 1

    X = np.column_stack([Age, Gender, self_employed, family_history, remote_work, tech_company, benefits, care_options, wellness_program]).astype('int32') 
    # X = scaler.transform(X)

    prediction = model.predict(X)[0]
    print(prediction)

    return 'You got the stress' if round(prediction) == 1 else 'no worries, be happy'

In [266]:
SuggestHelp(50, 'female', 'yes', 'no', 'yes', 'yes', 'no', 'no', 'no')

0.55327920160366

'You got the stress'

In [267]:
SuggestHelp(24, 'female', 'no', 'no', 'yes', 'yes', 'yes', 'yes', 'no')

0.49908332477831086

'no worries, be happy'